html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.OrdnerAnzeige{
    min-width: 200px;
    background-color: rgb(27, 27, 27);
}

.titleDiv{
    border-bottom: 1px rgb(247, 247, 247) solid;
}

.title{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
}

.kreuzDiv{
    display: flex;
    justify-content: end;
    height: 30px;
}

.modal {
    display: none;
}

.active {
    display: block;
}

.inputOrdner {
    margin: 2px;
    width: 50px;
    margin-top: 5px;
    border-radius: 2px;
    border: 1px black solid;
    padding: 4px;
    border-radius: 8px;
}

.quitButton{
    border: none;
    background-color: transparent;
    margin-left: -5px;
    cursor: pointer;
}

.imgKreuzQuit{
    width: 10px;
}

.kreuzButton{
    margin-right: 0px;
    margin-top: 5px;
    border: none;
    background-color: transparent;
    transition: transform 0.4s ease, font-weight 1.5s ease;
    cursor: pointer;
}

.kreuzButton:hover {
    transform: scale(1.3);
    font-weight: bold;
}

.imgKreuz {
    width: 13px;
}

.ordnerBar {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.ordnerBar:hover{
    background-color: rgb(53, 52, 52);
}

.nameOrdner{
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
    color: white;
}


.editOrdner{
    display: flex;
    flex-direction: row;
    justify-content:end;
}

.renameButton{
    border: none;
    background-color: transparent;
    transition: transform 0.4s ease, font-weight 1.5s ease;
    cursor: pointer;
}

.renameButton:hover {
    transform: scale(1.3);
    font-weight: bold;
}

.renameButtonTodo{
    margin-right: -8px;
    border: none;
    background-color: transparent;
    transition: transform 0.4s ease, font-weight 1.5s ease;
    cursor: pointer;
}

.trashButtonTodo{
    margin-right: -10px;
    border: none;
    background-color: transparent;
    transition: transform 0.4s ease, font-weight 1.5s ease;
    cursor: pointer;
}

.renameBild {
    width: 12px;
}

.trashButton{
    border: none;
    background-color: transparent;
    margin-left: -2px;
    transition: transform 0.4s ease, font-weight 1.5s ease;
    cursor: pointer;
    margin-top: 2px;
}

.trashBild{
    width: 12px;
}

.editButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 5px;
    transition: transform 0.4s ease, font-weight 1.5s ease;
}

.ellipsis-vertical_Button{
    width: 3px;
    transition: transform 0.4s ease, font-weight 1.5s ease
}

.ellipsis-vertical_Button:hover {
    transform: scale(1.3);
    font-weight: bold;
}

.ordnerAdd{
    border: none;
    height: 29px;
    border-radius: 3px;
    
}






.todoAnzeige{
    background-color: rgb(6, 6, 6);
}

.ordnerName{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 17px;
    margin-bottom: 14px;
}

.to-do-Bar{
    display: flex;
    justify-content: left;

}

.bars-solid{
    width: 12px;
    margin-right: -5px;
    margin-left: 18px;
}

.addNewCard{
    padding-left: 25px; /* Platz für das Icon */
    background-color: rgb(6, 6, 6);
    color: white;            /* Textfarbe */
    border: 1px solid grey; /* Randfarbe */
    padding: 8px;            /* Padding für etwas Abstand innerhalb des Inputs */
    border-radius: 10px;
    margin-left: 16px;
}

.addNewCard::placeholder{
    color: white;
} 

.sortieren{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px white solid;
}

.Button{
    border: none;
    background-color: rgb(6, 6, 6);;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 4px;
}

.Button:hover{
    text-decoration: underline;
}

.clearAllButton{
    margin-right: 20px;
    background-color: gray;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
    transition:ease-out
}

.clearAllButton:hover{
    background-color: rgb(253, 8, 8);
}


.To-do{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.divEins{
    display: flex;
    margin-left: 12px;
}

.todoName{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    margin-left: 5px;
}

.checkbox{
    cursor: pointer;
    margin-top: 4px;
}

.elipsis_to-do{
    margin-left: 10px;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.4s ease, font-weight 1.5s ease;
}

.divdrei{
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
}


.elipsis_to-do:hover {
    transform: scale(1.3);
    font-weight: bold;
}

.bild{
    width: 3px;
}


.completed {
    text-decoration: line-through;
}

